aiofiles
aiomysql
celery
fastapi
fastapi-restful
fastcrud
flower
greenlet
gunicorn; platform_system != 'Windows'
httpx
httpx[socks]
httpx-html
html5lib
hypercorn; platform_system == 'Windows'
itsdangerous
jinjax
loguru
lxml
lxml[html_clean]
openai
praw
python-dateutil
python-decouple
python-slugify
psycopg
pydantic-ai[examples]
pydantic-settings
pytz
redis
simplejson
sqlalchemy_mixins
sqlmodel
sqlmodel-crud-utilities @ git+https://github.com/fsecada01/SQLModel-CRUD-Utilities@v0.0.1a1
typing-inspect
uvicorn
xmljson
xmltodict
