{% if messages %}
<section class="section"
         id="status-container">
    <div class="container">
        {% for message in messages %}
        {% set is_error = message.startswith('Error:') %}
        {% set is_loading = loop.last and not result %}
        {% set is_tool_message = message.startswith('Using tool') %}
        <div class="box">
            {% if is_error %}
            {% set bg_color = 'danger' %}
            {% set header_content = 'Error' %}
            {% set content = message %}
            {% elif is_loading and "analysis complete" not in message.lower() %}
            {% set bg_color = 'warning' %}
            {% set content = message %}
            {% set header_content = 'In Progress' %}

            {% elif is_tool_message and "analysis complete" not in message.lower() %}
            {% set bg_color = 'info '%}
            {% set header_content, content = message.split(' ', 2)[2].split('...', 1) %}

            {% elif "analyzing..." in message.lower() %}
            {% set bg_color = 'link' %}
            {% set content = 'message' %}
            {% set header_content = "Starting"%}
            {% else %}
            {% set bg_color = 'success' %}
            {% set content = message %}
            {% set header_content = 'Done!' %}
            {% endif %}
            <StatusResult div_class={{ bg_color }}
                          header_content={{ header_content }}>{{ message }}
            </StatusResult>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}