{# def
	url: str,
	brand_title: str
#}

<div class="navbar-brand">
    <a href={{ url }}
       class="navbar-item">{{ brand_title }}</a>
    <a class="navbar-burger"
       role='button'
       aria-label='menu'
       aria-expanded='false'
       data-target='mainNavbar'>
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
    </a>
</div>