{# def
	div_class: str,
    header_content: str = ''

#}

<article class="message is-{{ div_class }}">
    <div class="message-header">
        <p>{{ header_content }}</p>
    </div>
    <div class="message-body">
        {{ content }}
    </div>
</article>