{# def
    input_name: str = 'url',
    label: bool = False,
    label_name: str = 'Search',
    input_type: str = 'text',
    class_name: str = 'input is-rounded',
    placeholder: str = 'URL'
#}
<div class="control is-expanded">
    {% if label %}
    <label for={{ input_name }}
           class="label">{{ label_name }}</label>
    {% endif %}
    <input type={{ input_type }}
           class={{ class_name }}
           id={{ input_name }}
           name={{ input_name }}
           placeholder={{ placeholder }}
           required />
</div>
{{ content }}