{# def
    form_id: str,
    action: str,
    target: str,
    method: str = 'GET'
#}
<Form form_id={{ form_id }}
      action={{ action }}
      target={{ target }}
      method={{ method }}>
    <div class="control">
        <label for="url"
               class="label">Search</label>
        <input type="url"
               class="input is-rounded"
               id="url"
               name="url"
               placeholder="URL"
               required />
    </div>
    {{ content }}
</Form>