<nav class="navbar is-link">
    <NavbarBrand url=''
                 brand_title="Pygentic AI"></NavbarBrand>
    <NavbarMenu>
        <a href="#"
           class="navbar-item">Coming Soon</a>
    </NavbarMenu>
</nav>