<Js url="{{ url_for('static', path="/js/htmx.js") }}">type="modules"</Js>
<Js url="{{ url_for('static', path="/js/bulma.js") }}"></Js>
<Js url="{{ url_for('static', path="/js/bulma-collapsible.min.js") }}"></Js>